<!doctype html>
<html ng-app="CalculatorApplication">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/calculators.css">

    <script src="vendor/jquery-1.11.1.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/highstock/highstock.js"></script>
    <script src="vendor/angular.min.js"></script>

    <script src="js/global.js"></script>
    <script src="js/Calculator.js"></script>
    <script src="js/ComparisonCalculator.js"></script>
    <script src="js/AirlineLowInterestCalculator.js"></script>
    <script src="js/AirlineLowInterestController.js"></script>

    <script>
        $(document).ready(function () {

            $('#graphTab').click(function () {
                setTimeout(function () {
                    $('#high_chart').highcharts().reflow();
                }, 10);
            });

            $('#calculate_button').click(function () {
                $('.nav-tabs > li').removeClass('disabled');
                $('.nav-tabs > .active').next('li').find('a').trigger('click');
            });

            $('.nav-tabs a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
        });
    </script>
</head>

<body ng-controller="AirlineLowInterestController">
<div class="container">

    <div class="row">
        <div class="title col-xs-24 text-center">Airlines or Low Interest Comparison Calculator</div>
    </div>

    <div class="row">
        <div class="subtitle col-xs-24 text-center">Which is better: Airlines or Low Interest Card?</div>
    </div>

    <div class="row">
        <div class="col-xs-24">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#input">Input</a></li>
                <li class="disabled"><a href="#result" id="resultTab">Result</a></li>
                <li class="disabled"><a href="#graph" id="graphTab">Graph</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-xs-24">
            <div class="tab-content">
                <div class="tab-pane active" id="input">
                    <div class='row'>
                        <div class='col-xs-24'>
                            <form name="comparisonForm" novalidate role="form">

                                <div class="form-group">
                                    <label for="principal" class="control-label">
                                        <span class="text-danger">1.*</span> Current Balance:
                                    </label>

                                    <div class="input-group">
                                        <div class="input-group-addon">$</div>
                                        <input type="text"
                                               class="form-control"
                                               name="principal"
                                               id="principal"
                                               placeholder="0.00"
                                               ng-model="principal"
                                               ng-model-options="{updateOn: 'blur'}"
                                               ng-pattern="/^[0-9]+([\,\.][0-9]+)?$/"
                                               required
                                               select-on-click>
                                    </div>

                                    <div class="custom-error text-center"
                                         ng-show="comparisonForm.$submitted || comparisonForm.principal.$touched">
                                        <span class="alert-danger" ng-show="comparisonForm.principal.$error.required">Principal Amount Required!</span>
                                        <span class="alert-danger" ng-show="comparisonForm.principal.$error.pattern">Enter Dollar Amounts Only!</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="years" class="control-label">
                                        <span class="text-danger">2.*</span> Years you will use card:
                                    </label>

                                    <div class="input-group">
                                        <div class="input-group-addon">#</div>
                                        <input type="text"
                                               class="form-control"
                                               name="years"
                                               id="years"
                                               placeholder="0"
                                               ng-model="years"
                                               ng-model-options="{updateOn: 'blur'}"
                                               required
                                               ng-pattern="/^[0-9]+([\,\.][0-9]+)?$/"
                                               select-on-click>
                                    </div>
                                    <div class="custom-error text-center"
                                         ng-show="comparisonForm.$submitted || comparisonForm.years.$touched">
                                        <span class="alert-danger" ng-show="comparisonForm.years.$error.required">Years Required!</span>
                                        <span class="alert-danger" ng-show="comparisonForm.years.$error.pattern">Enter Numeric Value Only!</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="charges" class="control-label">
                                        <span class="text-danger">3.</span> Monthly Charges:
                                    </label>

                                    <div class="input-group">
                                        <div class="input-group-addon">$</div>
                                        <input type="text"
                                               class="form-control"
                                               name="charges"
                                               id="charges"
                                               placeholder="0.00"
                                               ng-model="charges"
                                               ng-model-options="{updateOn: 'blur'}"
                                               ng-pattern="/^[0-9]+([\,\.][0-9]+)?$/"
                                               select-on-click>
                                    </div>

                                    <div class="custom-error text-center"
                                         ng-show="comparisonForm.$submitted || comparisonForm.charges.$touched">
                                        <span class="alert-danger" ng-show="comparisonForm.charges.$error.required">Monthly Charges Required!</span>
                                        <span class="alert-danger" ng-show="comparisonForm.charges.$error.pattern">Enter Numeric Value Only!</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-24">
                                        <div class="form-group">
                                            <label for="payment" class="control-label">
                                                <span class="text-danger">4.</span> Estimated monthly payments:
                                            </label>

                                            <div class="input-group">
                                                <div class="input-group-addon">$</div>
                                                <input type="text"
                                                       class="form-control"
                                                       name="payment"
                                                       id="payment"
                                                       placeholder="0.00"
                                                       ng-model="payment"
                                                       ng-model-options="{updateOn: 'blur'}"
                                                       ng-pattern="/^[0-9]+([\,\.][0-9]+)?$/"
                                                       select-on-click>

                                            </div>

                                            <div class="custom-error text-center"
                                                 ng-show="comparisonForm.$submitted || comparisonForm.payment.$touched">
                                                <span class="alert-danger"
                                                      ng-show="comparisonForm.payment.$error.required">Monthly Charges Required!</span>
                                                <span class="alert-danger"
                                                      ng-show="comparisonForm.payment.$error.pattern">Enter Numeric Value Only!</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-offset-12 col-xs-6 text-center"><strong>Airlines</strong></div>
                                    <div class="col-xs-6 text-center"><strong>Low
                                        Interest</strong></div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-24">
                                        <div class="form-group">
                                            <label for="airline_intro_rate" class="col-xs-12 control-label">
                                                <span class="text-danger">5.</span> Introductory interest rate:
                                            </label>

                                            <div class="col-xs-6">
                                                <input type="text"
                                                       class="form-control"
                                                       name="intro_rate"
                                                       id="airline_intro_rate"
                                                       placeholder="0.0"
                                                       ng-model="airline_intro_rate"
                                                       ng-model-options="{updateOn: 'blur'}"
                                                       ng-pattern="/^[0-9]+([\,\.][0-9]+)?$/"
                                                       select-on-click>

                                            </div>

                                            <div class="col-xs-6">
                                                <input type="text"
                                                       class="form-control"
                                                       name="intro_rate"
                                                       id="low_interest_intro_rate"
                                                       placeholder="0.0"
                                                       ng-model="low_interest_intro_rate"
                                                       ng-model-options="{updateOn: 'blur'}"
                                                       ng-pattern="/^[0-9]+([\,\.][0-9]+)?$/"
                                                       select-on-click>

                                            </div>

                                            <div class="custom-error text-center"
                                                 ng-show="comparisonForm.$submitted || comparisonForm.intro_rate.$touched">
                                                <span class="alert-danger"
                                                      ng-show="comparisonForm.intro_rate.$error.required">Introductory Interest Rate Required!</span>
                                                <span class="alert-danger"
                                                      ng-show="comparisonForm.intro_rate.$error.pattern">Enter Numeric Value Only!</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-24">
                                        <div class="form-group">
                                            <label for="airline_intro_term" class="col-xs-12 control-label">
                                                <span class="text-danger">6.</span> Introductory term (months):
                                            </label>

                                            <div class="col-xs-6">
                                                <input type="text"
                                                       class="form-control"
                                                       name="intro_term"
                                                       id="airline_intro_term"
                                                       placeholder="0"
                                                       ng-model="airline_intro_term"
                                                       ng-model-options="{updateOn: 'blur'}"
                                                       ng-pattern="/^[0-9]+([\,\.][0-9]+)?$/"
                                                       select-on-click>

                                            </div>

                                            <div class="col-xs-6">
                                                <input type="text"
                                                       class="form-control"
                                                       name="intro_term"
                                                       id="low_interest_intro_term"
                                                       placeholder="0"
                                                       ng-model="low_interest_intro_term"
                                                       ng-model-options="{updateOn: 'blur'}"
                                                       ng-pattern="/^[0-9]+([\,\.][0-9]+)?$/"
                                                       select-on-click>

                                            </div>

                                            <div class="custom-error text-center"
                                                 ng-show="comparisonForm.$submitted || comparisonForm.intro_term.$touched">
                                                <span class="alert-danger"
                                                      ng-show="comparisonForm.intro_term.$error.required">Introductory Term Required!</span>
                                                <span class="alert-danger"
                                                      ng-show="comparisonForm.intro_term.$error.pattern">Enter Numeric Value Only!</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-24">
                                        <div class="form-group">
                                            <label for="airline_regular_rate" class="col-xs-12 control-label">
                                                <span class="text-danger">7.</span> Regular Interest Rate (APR):
                                            </label>

                                            <div class="col-xs-6">
                                                <input type="text"
                                                       class="form-control"
                                                       name="regular_rate"
                                                       id="airline_regular_rate"
                                                       placeholder="0.0"
                                                       ng-model="airline_regular_rate"
                                                       ng-model-options="{updateOn: 'blur'}"
                                                       ng-pattern="/^[0-9]+([\,\.][0-9]+)?$/"
                                                       select-on-click>

                                            </div>

                                            <div class="col-xs-6">
                                                <input type="text"
                                                       class="form-control"
                                                       name="regular_rate"
                                                       id="low_interest_regular_rate"
                                                       placeholder="0.0"
                                                       ng-model="low_interest_regular_rate"
                                                       ng-model-options="{updateOn: 'blur'}"
                                                       ng-pattern="/^[0-9]+([\,\.][0-9]+)?$/"
                                                       select-on-click>

                                            </div>

                                            <div class="custom-error text-center"
                                                 ng-show="comparisonForm.$submitted || comparisonForm.regular_rate.$touched">
                                                <span class="alert-danger"
                                                      ng-show="comparisonForm.regular_rate.$error.required">Introductory Term Required!</span>
                                                <span class="alert-danger"
                                                      ng-show="comparisonForm.regular_rate.$error.pattern">Enter Numeric Value Only!</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-24">
                                        <div class="form-group">
                                            <label for="airline_intro_annual_fee"
                                                   class="col-xs-12 control-label">
                                                <span class="text-danger">8.</span> Introductory Annual Fee:
                                            </label>

                                            <div class="col-xs-6">
                                                <input type="text"
                                                       class="form-control"
                                                       name="intro_annual_fee"
                                                       id="airline_intro_annual_fee"
                                                       placeholder="0.00"
                                                       ng-model="airline_intro_annual_fee"
                                                       ng-model-options="{updateOn: 'blur'}"
                                                       ng-pattern="/^[0-9]+([\,\.][0-9]+)?$/"
                                                       select-on-click>

                                            </div>

                                            <div class="col-xs-6">
                                                <input type="text"
                                                       class="form-control"
                                                       name="intro_annual_fee"
                                                       id="low_interest_intro_annual_fee"
                                                       placeholder="0.00"
                                                       ng-model="low_interest_intro_annual_fee"
                                                       ng-model-options="{updateOn: 'blur'}"
                                                       ng-pattern="/^[0-9]+([\,\.][0-9]+)?$/"
                                                       select-on-click>

                                            </div>

                                            <div class="custom-error text-center"
                                                 ng-show="comparisonForm.$submitted || comparisonForm.intro_annual_fee.$touched">
                                                <span class="alert-danger"
                                                      ng-show="comparisonForm.intro_annual_fee.$error.required">Introductory Annual Fee Required!</span>
                                                <span class="alert-danger"
                                                      ng-show="comparisonForm.intro_annual_fee.$error.pattern">Enter Numeric Value Only!</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-24">
                                        <div class="form-group">
                                            <label for="airline_regular_annual_fee"
                                                   class="col-xs-12 control-label">
                                                <span class="text-danger">9.</span> Regular Annual Fee:
                                            </label>

                                            <div class="col-xs-6">
                                                <input type="text"
                                                       class="form-control"
                                                       name="regular_annual_fee"
                                                       id="airline_regular_annual_fee"
                                                       placeholder="0.00"
                                                       ng-model="airline_regular_annual_fee"
                                                       ng-model-options="{updateOn: 'blur'}"
                                                       ng-pattern="/^[0-9]+([\,\.][0-9]+)?$/"
                                                       select-on-click>

                                            </div>

                                            <div class="col-xs-6">
                                                <input type="text"
                                                       class="form-control"
                                                       name="regular_annual_fee"
                                                       id="low_interest_regular_annual_fee"
                                                       placeholder="0.00"
                                                       ng-model="low_interest_regular_annual_fee"
                                                       ng-model-options="{updateOn: 'blur'}"
                                                       ng-pattern="/^[0-9]+([\,\.][0-9]+)?$/"
                                                       select-on-click>

                                            </div>

                                            <div class="custom-error text-center"
                                                 ng-show="comparisonForm.$submitted || comparisonForm.regular_annual_fee.$touched">
                                                <span class="alert-danger"
                                                      ng-show="comparisonForm.regular_annual_fee.$error.required">Regular Annual Fee Required!</span>
                                                <span class="alert-danger"
                                                      ng-show="comparisonForm.regular_annual_fee.$error.pattern">Enter Numeric Value Only!</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-24">
                                        <div class="form-group">
                                            <label for="miles_per_dollar" class="col-xs-12 control-label">
                                                <span class="text-danger">10.</span> Miles earned per dollar spent:
                                            </label>

                                            <div class="col-xs-6">
                                                <input type="text"
                                                       class="form-control"
                                                       name="miles_per_dollar"
                                                       id="miles_per_dollar"
                                                       placeholder="0"
                                                       ng-model="miles_per_dollar"
                                                       ng-model-options="{updateOn: 'blur'}"
                                                       ng-pattern="/^[0-9]+([\,\.][0-9]+)?$/"
                                                       select-on-click>

                                            </div>

                                            <div class="custom-error text-center"
                                                 ng-show="comparisonForm.$submitted || comparisonForm.miles_per_dollar.$touched">
                                                <span class="alert-danger"
                                                      ng-show="comparisonForm.miles_per_dollar.$error.required">Miles Earned Per Dollar Required!</span>
                                                <span class="alert-danger"
                                                      ng-show="comparisonForm.miles_per_dollar.$error.pattern">Enter Numeric Value Only!</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-24">
                                        <div class="form-group">
                                            <label for="miles_to_apply" class="col-xs-12 control-label">
                                                <span class="text-danger">11.</span> Miles earned for applying:
                                            </label>

                                            <div class="col-xs-6">
                                                <input type="text"
                                                       class="form-control"
                                                       name="miles_to_apply"
                                                       id="miles_to_apply"
                                                       placeholder="0"
                                                       ng-model="miles_to_apply"
                                                       ng-model-options="{updateOn: 'blur'}"
                                                       ng-pattern="/^[0-9]+([\,\.][0-9]+)?$/"
                                                       select-on-click>

                                            </div>

                                            <div class="custom-error text-center"
                                                 ng-show="comparisonForm.$submitted || comparisonForm.miles_to_apply.$touched">
                                                <span class="alert-danger"
                                                      ng-show="comparisonForm.miles_to_apply.$error.required">Miles Earned for Applying Required!</span>
                                                <span class="alert-danger"
                                                      ng-show="comparisonForm.miles_to_apply.$error.pattern">Enter Numeric Value Only!</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-24">
                                        <div class="form-group">
                                            <label for="max_yearly_miles" class="col-xs-12 control-label">
                                                <span class="text-danger">12.</span> Maximum miles earned yearly:
                                            </label>

                                            <div class="col-xs-6">
                                                <input type="text"
                                                       class="form-control"
                                                       name="max_yearly_miles"
                                                       id="max_yearly_miles"
                                                       placeholder="0"
                                                       ng-model="max_yearly_miles"
                                                       ng-model-options="{updateOn: 'blur'}"
                                                       ng-pattern="/^[0-9]+([\,\.][0-9]+)?$/"
                                                       select-on-click>

                                            </div>

                                            <div class="custom-error text-center"
                                                 ng-show="comparisonForm.$submitted || comparisonForm.max_yearly_miles.$touched">
                                                <span class="alert-danger"
                                                      ng-show="comparisonForm.max_yearly_miles.$error.required">Maximum Miles Earned Yearly Required!</span>
                                                <span class="alert-danger"
                                                      ng-show="comparisonForm.max_yearly_miles.$error.pattern">Enter Numeric Value Only!</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-24">
                                        <div class="form-group">
                                            <label for="miles_for_free_ticket"
                                                   class="col-xs-12 control-label">
                                                <span class="text-danger">13.</span> Miles required for 1 free ticket:
                                            </label>

                                            <div class="col-xs-6">
                                                <input type="text"
                                                       class="form-control"
                                                       name="miles_for_free_ticket"
                                                       id="miles_for_free_ticket"
                                                       placeholder="0"
                                                       ng-model="miles_for_free_ticket"
                                                       ng-model-options="{updateOn: 'blur'}"
                                                       ng-pattern="/^[0-9]+([\,\.][0-9]+)?$/"
                                                       select-on-click>

                                            </div>

                                            <div class="custom-error text-center"
                                                 ng-show="comparisonForm.$submitted || comparisonForm.miles_for_free_ticket.$touched">
                                                <span class="alert-danger"
                                                      ng-show="comparisonForm.miles_for_free_ticket.$error.pattern">Enter Numeric Value Only!</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-24">
                                        <div class="form-group">
                                            <label for="cost_of_ticket" class="col-xs-12 control-label">
                                                <span class="text-danger">14.</span> Regular cost of ticket:
                                            </label>

                                            <div class="col-xs-6">
                                                <input type="text"
                                                       class="form-control"
                                                       name="cost_of_ticket"
                                                       id="cost_of_ticket"
                                                       placeholder="0.00"
                                                       ng-model="cost_of_ticket"
                                                       ng-model-options="{updateOn: 'blur'}"
                                                       ng-pattern="/^[0-9]+([\,\.][0-9]+)?$/"
                                                       select-on-click>

                                            </div>

                                            <div class="custom-error text-center"
                                                 ng-show="comparisonForm.$submitted || comparisonForm.cost_of_ticket.$touched">
                                                <span class="alert-danger"
                                                      ng-show="comparisonForm.cost_of_ticket.$error.pattern">Enter Numeric Value Only!</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br>

                                <div class="form-group">
                                    <button type="submit" id="calculate_button"
                                            class="btn btn-danger btn-block"
                                            ng-click="calculate()">Calculate
                                    </button>
                                </div>
                            </form>
                        </div>
                        <!--col-lg-12-->
                    </div>
                    <!--row-->
                </div>
                <!--input-->

                <div class="tab-pane" id="result">
                    <div class="row">
                        <div class="col-xs-24">
                            <table class="table">
                                <thead>
                                <tr>
                                    <td></td>
                                    <td><strong>Airlines</strong></td>
                                    <td><strong>Low Interest</strong></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><strong>Flight miles earned:</strong></td>
                                    <td>{{totalMilesEarned}}</td>
                                    <td>N/A</td>
                                </tr>
                                <tr>
                                    <td><strong>Number of tickets earned:</strong></td>
                                    <td>{{totalTicketsEarned}}</td>
                                    <td>N/A</td>
                                </tr>
                                <tr>
                                    <td><strong>Dollar value of tickets:</strong></td>
                                    <td>{{totalValueOfTickets}}</td>
                                    <td>N/A</td>
                                </tr>
                                <tr>
                                    <td><strong>Interest and Fees:</strong></td>
                                    <td>{{cardOneTotalInterestAndFees}}</td>
                                    <td>{{cardTwoTotalInterestAndFees}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div ng-bind-html="result"></div>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-xs-24">
                            <button class="btn btn-danger btn-block"
                                    onclick="window.location = 'http://www.creditcards.com/cash-back.php'">
                                Find a Cash Back Card Now!
                            </button>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-xs-24">
                            <button class="btn btn-danger btn-block"
                                    onclick="window.location = 'http://www.creditcards.com/low-interest.php'">Find a Low
                                Interest Card Now!
                            </button>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="graph" style="position:relative">
                    <div class="row">
                        <div class="col-xs-24">
                            <div id="high_chart"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-24">
                            <p>This graph compares your interest and fees, remaining balance, and value of free tickets
                                earned at the end of the {{numOfYears}} year period.</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="about">
                    <div class="row">
                        <div class="col-xs-24">
                            <p>Airlines cards let you accumulate frequent flier miles when you make purchases. These
                                cards usually have higher annual fees and higher interest rates compared to other Low
                                Interest credit cards. If you pay your balance in full each month and owe nothing, the
                                free tickets earned using an Airlines card may be advantageous to you.</p>

                            <p>This calculator compares the value of an Airlines card and a Low Interest credit card to
                                help you determine which card is better for you.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--col-xs-24-->
    </div>
    <!--row-->
</div>
<!--container-->
</body>
</html>



